[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycryptodome = "*"
pypiwin32 = "*"
requests = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.11"
